@font-face {
    font-family: "Janna LT";
    src:local("Janna LT"), url(../fonts/janna-bold.woff) format("woff");
    font-weight:bold;
}

@font-face {
    font-family: "Janna LT";
    src:local("Janna LT"), url(../fonts/janna.woff) format("woff");
    font-weight:normal;
}

$family-heading:"Janna LT", "Helvetica Neue", "Segoe UI",sans-serif;
$family-content: "Helvetica Neue", "Segoe UI",sans-serif;