<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-sidebar">
            <div class="c-sidebar__control">
                <a href="../index.html" class="c-sidebar__icon c-sidebar__logo c-sidebar__icon--large">
                    <svg viewbox="0 0 35 35">
                        <circle cx="17.5" cy="17.5" r="12" stroke-width="10" fill="transparent"></circle>
                    </svg>
                </a>
                <a href="#" class="c-sidebar__icon"><i class="c-icon c-icon--plus"></i></a>
                <a href="#" class="c-sidebar__icon"><i class="c-icon c-icon--search"></i></a>
                <a href="#" class="c-sidebar__icon"><i class="c-icon c-icon--switch"></i></a>
                <a href="#" class="c-sidebar__icon c-sidebar__icon--large c-sidebar__icon--image c-sidebar__icon--bottom">
                    <img src="../assets/images/profile.png" alt="">
                </a>
            </div>
            <div class="c-sidebar__menu">
                <h2 class="c-sidebar__title">
                    <a href="../index.html">عربي</a>
                </h2>
                <nav class="c-sidebar__navigation">
                    <a href="#" class="c-sidebar__link"><i class="c-icon c-icon--equalizer"></i>نظرة عامة</a>
                    <a href="#" class="c-sidebar__link"><i class="c-icon c-icon--cart"></i>المنتجات</a>
                    <a href="#" class="c-sidebar__link"><i class="c-icon c-icon--users"></i>المستخدمين</a>
                    <a href="#" class="c-sidebar__link"><i class="c-icon c-icon--file-text"></i>الطلبات</a>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>