.c-btn{
    font-size:14px;
    line-height:20px;
    font-weight:normal;
    color:$color-content;
    background-color: $color-white;
    border:1px solid darken($color-white,15%);
    padding:8px 16px;
    border-radius:3px;
    cursor: pointer;
    text-align:center;
    display:inline-block;
    box-shadow:0 1px 0 0 rgba(darken($color-primary,30%),0.05);

    &:hover{
        background-color: darken($color-white,3%);
    }

    &:focus{
        outline: none;
        border:2px solid $color-primary;
    }
}

.c-btn--primary{
    color:$color-white;
    background-color: $color-primary;
    border-color:darken($color-primary,5%);

    &:hover{
        background-color:darken($color-primary,5%);
    }

    &:focus{
        border-color:darken($color-primary,30%);
    }
}

.c-btn--destructive{
    color:$color-white;
    background-color: $color-red;
    border-color:darken($color-red,5%);

    &:hover{
        background-color:darken($color-red,5%);
    }
}

.c-btn--ghost{
    color:$color-content;
    background-color: transparent;
    border-color:darken($color-content,5%);

    &:hover{
        background-color:transparent;
    }
}

.c-btn--slim{
    padding-top:4px;
    padding-bottom:4px;
}

.c-btn--icon{
    width:40px;
    height:36px;
    text-align:center;
    font-size:16px;
    padding:0;
}